
{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load allauth account socialaccount %}
{% load allauth account %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}

<div class="container-login100">
    <div class="container" style="width: 50%;">
        <div class="card text-center">
            <div class="card-header bg-primary text-white">
                Password Reset
            </div>
            <div class="card-header bg-primary text-white">
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>
            <div class="card-body px-5">
                <p class="py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <form action="{% url 'account_reset_password' %}" method="post">
                    {% csrf_token %}
                <div class="form-outline">
                    <label class="form-label" for="typeEmail">Email input</label>
                    <input type="email" id="typeEmail" class="form-control my-3" />
                </div>
                <input class="btn btn-primary w-100" type="submit" value="Reset password" />
            </form>
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="{% url 'account_login' %}">Login</a>
                    <a class="" href="{% url 'account_signup' %}">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
