{% extends 'base.html' %}
{% load static %}
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    {% block links %}<link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    {% endblock links %}

    <title>{% block title %} Sign Up{% endblock title %}</title>

{% block content %}
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3 class="text-center">Sign Up</h3>
                  <p class="mb-4">Please enter your details in the spaces below to join us.</p>
                </div>
                {% if messages %}
                {% for message in messages %}
                {%if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">
                  {{message}}
                </div>
                {% else %}
                <div class="alert alert-success" role="alert">
                 {{message}}
                </div>
                {% endif %}
                {% endfor %}
                {% endif%}
                <form action="#" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                  <div class="form-group first">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}
                    <!-- <input type="text" class="form-control" id="name"> -->

                  </div>
                  <div class="form-group first">
                    <!-- <label for="email">Email</label> -->
                    {{ form.email.label_tag }}
                    {{ form.email }}
                    {{ form.email.errors }}
                    <!-- <input type="text" class="form-control" id="email"> -->

                  </div>
                  <div class="form-group">
                    <!-- <label for="password">Password</label> -->
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                    <!-- <input type="password" class="form-control" id="password"> -->
                    
                  </div>
                  <div class="form-group last mb-4">
                    <!-- <label for="re-password">Re-type Password</label> -->
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                    <!-- <input type="password" class="form-control" id="re-password"> -->
                    
                  </div>
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-3 mb-sm-0"><span class="caption">Agree our <a href="#">Terms and Conditions</a></span>
                    <input type="checkbox" checked="checked"/>
                    <div class="control__indicator"></div>
                  </label>
                    <span class="ml-auto"><a href="{% url 'account_login' %}" class="forgot-pass">Sign In</a></span> 
                  </div>

                  <input type="submit" value="Register" class="btn btn-pill btn-block btn-secondary">
                
                </form>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script> $(function() {
        'use strict';
    
        
      $('.form-control').on('input', function() {
          var $field = $(this).closest('.form-group');
          if (this.value) {
            $field.addClass('field--not-empty');
          } else {
            $field.removeClass('field--not-empty');
          }
        });
    
    }); 
    
    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('liveAlertBtn')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Nice, you triggered this alert message!', 'success')
  })
}
    </script>
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"8e4186cdb8568a47","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2024.10.5","token":"cd0b4b3a733644fc843ef0b185f98241"}' crossorigin="anonymous"></script>
{% endblock %}