
{% extends 'base.html' %}
{% block content %}
<body bgcolor="#f0f0f0" link="#990099" vlink="#009999" text="#000000">

<p style="text-align: center;"><strong>title of the article.</strong>
<br wp="br1" clear="ALL"><br wp="br2" clear="ALL"></p>
<div class="btt">
<p>Dear Reader, <br></p>
<button type="submit" class="btn btn-primary d-flex text-align" style="text-align: center; display: flex;">Download</button>
</div>

{{ post.description|linebreaks }}

<hr>
<div class="writer" style="text-align: center;">
     Published {{ art.publish }} by {{ art.author }}
</div>
</p>
</body>
{% endblock %}