<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %} Lasio Capital{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-136883390-1"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/tooplate.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/payment.css' %}"> -->
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
          
            gtag('config', 'UA-136883390-1');
          </script>

    <body>


{% block content %}

{% endblock %}

<hr>
      
    
<dl>
<p></p>
<div style="display: flex; justify-content: space-between; padding: auto; margin: auto 2%;"><p align="left">
  <font size="2">
    <a href="">Legal Disclaimer</a> 
</font>
</p>
<p align="right">
<font size="2">Copyright © 1978-2024<b> Lasio Capital</b></font><font size="2"> 
</font>
</p>
</div>
    
</body>

</html>