
{% load static %}
        <title>{% block title %} Payment {% endblock %}</title>
        
        {% block content %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bod {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;

    padding: 30px 10px;
}

.card {
    width: 60vw;
    margin: auto;
    display: inline-flexbox;
    justify-content: center;
    /* border: 1px solid black; */
    color: black;
    background-color: #fff;
    border-radius: 0 20px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45%;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    border-radius: 0 20px;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
    margin: auto;
    margin:10px 0;
}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    /* color: white; */
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 0 20px;
    width:90%;
    margin: 10px;
    height: 60px;
    padding-left: 20px;
}

.form-control:focus {
    /* color: white; */
    background-color: #f5f5f5;
    border: 1px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
    text-indent: 20px;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}
        </style>
        <body class="bod">
          
        <div class="container p-0">
          <div class="card px-4">
              <p class="h8 py-3">Payment Details</p>
              <div class="row gx-3">
                  <div class="col-12">
                      <div class="d-flex flex-column">
                          <p class="text mb-1">Person Name</p>
                          <input class="form-control mb-3 w-100" type="text" placeholder="Name" value="Barry Allen">
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="d-flex flex-column">
                          <p class="text mb-1">Card Number</p>
                          <input class="form-control mb-3 mx-auto" type="text" placeholder="1234 5678 435678">
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="d-flex flex-column">
                          <p class="text mb-1">Expiry</p>
                          <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="d-flex flex-column">
                          <p class="text mb-1">CVV/CVC</p>
                          <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="btn btn-primary mb-3">
                          <span class="ps-3">Pay $243</span>
                          <span class="fas fa-arrow-right"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </body>
{% endblock %}