
{% load static %}
        <title>{% block title %} Payment {% endblock %}</title>
        
        {% block content %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bod {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 30px 10px;
}

.card {
    width: 50vw;
    margin: auto;
    padding: auto;
    display: inline-flexbox;
    justify-content: center;
    /* border: 1px solid black; */
    color: black;
    background-color: #fff;
    border-radius: 0 20px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn.btn-primary {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45%;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    border-radius: 0 20px;
    transition: 0.5s;
    background-size: 200% auto;
    cursor: pointer;
    margin:10px 0;
}


.btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

.form-control {
    /* color: white; */
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 0 20px;
    width:90%;
    margin: 10px;
    height: 60px;
    padding-left: 20px;
}

.form-control:focus {
    /* color: white; */
    background-color: #f5f5f5;
    border: 1px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
    text-indent: 20px;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}
        </style>
        <body class="bod">
            <div class="midde_cont">
                <div class="container-fluid">
                   <div class="row column_title">
                      <div class="col-md-12">
                         <div class="page_title">
                            <h2 style="margin: 20px; display: flex; justify-content: center;">PURCHASE THE DOCUMENT THROUGH MPESA EXPRESS</h2>
                         </div>
                      </div>
                   </div>
                </div>
            
          
        <div class="container p-2">
 
        <div class="card">
              <p class="h8 py-3">Payment Details</p>
              <div class="row gx-3">
                <div class="row d-flex justify-content-center" style="margin: auto; padding: auto;">
                    <form action="{% url 'pay' %}" class="w-100 offset-md-3" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                            <label class="form-label fw-bold h4" style="padding: 10px;" for="#phone">Phone Number</label><br>
                            <input name="phone" type="text" id="phone" class="form-control" placeholder="Phone Number" ><br><br><br>
                         </div>
                         <div class="input-group">
                            <label class="form-label fw-bold h4" style="padding: 10px;" for="#amount">Amount</label>
                            <input name="amount" type="text" id="amount" class="form-control" placeholder="Amount"  ><br><br>
                         </div>
                        <button class="btn btn-primary" style="margin:0 auto;" type="submit">pay</button>
                    </div>
                    </form>
              </div>
          </div>
      </div>
 
{% endblock %}