<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container mb-3">
    <h1 class="d-flex text-align">{{ object.title }}</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="mb-3">
            {{ form.title|as_crispy_field }}
        </div>
        <div class="mb-3">
            {{ form.body|as_crispy_field }}
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">Update</button>
        </div>
    </form>
</div>
{% endblock content %}


<!-- <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->

